<nz-layout>
  <nz-header>
    <div class="nav">
      <ul nz-menu nzMode="horizontal" [nzTheme]="'dark'">

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="cluster" nzTheme="outline"></i>
<!--         routerLink 去匹配 app-routing.module 中的 path, 模拟 URL, 也要匹配文件路径结构-->
          <a routerLink="/testA">条目A</a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="filter" nzTheme="outline"></i>
          <a routerLink="/testB">条目B</a>
        </li>

      </ul>
    </div>
  </nz-header>
  <router-outlet></router-outlet>
</nz-layout>
